<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.djunderworld.stm.marketuser.service.impl.MarketUserMapper">
	
	<!-- INSERT Query -->
	<insert id="insertMarketUser">
		INSERT	INTO	market_users(market_id , user_id) 
			VALUES (#{marketId}, #{userId});
	</insert>
</mapper>
