<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.djunderworld.stm.opinioncategory.service.impl.OpinionCategoryMapper">
	<!-- Result Map -->
	<resultMap id="OpinionCategoryResult" type="OpinionCategory">
		<id property="id" column="opinion_category_id" />
		<result property="name" column="opinion_category_name" />
		<result property="createdAt" column="opinion_category_created_at" />
		<result property="updatedAt" column="opinion_category_updated_at" />
	</resultMap>

	<!-- SELECT Query -->
	<select id="selectOpinionCategoryList" resultMap="OpinionCategoryResult">
		SELECT	<include refid="com.djunderworld.stm.engine.db.common.sql.OpinionCategoryColumns">
				    <property name="opinionCategoryTableAlias" value="oc"/>
				    <property name="prefix" value="opinion_category_"/> 
				</include>
				FROM	opinion_categories oc;
	</select>

</mapper>
